@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    @*<h1>COUNTRY CHECKER</h1>*@
    <h3><strong> Client IP :</strong> @ViewBag.ClientIP</h3>
    <p><strong>api.wipmania.com :</strong> <br /> @ViewBag.WipManiaResponse</p>
    <p><strong>api.hostip.info :</strong><br />  @ViewBag.HostipResponse</p>
</div>